[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
python-language-server = "*"

[packages]
pyserial = ">=3.0"
python-socketio = ">=5.0"
uarm-python-sdk = {git = "https://github.com/uArm-Developer/uArm-Python-SDK.git"}
aiohttp = "*"

[requires]
python_version = "3.8.6"
