gum-av,
canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

canvas {
  margin: auto;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

#status {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  color: white;
  padding: 1em;
  font-family: roboto, sans-serif;
  z-index: 1;
}

gum-av {
  font-family: roboto, sans-serif;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.drop-pane {
  color: #fff;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0,0,0,.5);
}

.drop-pane.ready {
  display: flex;
  justify-content: center;
  align-items: center;;
}
